.container {
  display: flex;
  justify-content: center;
}

.speakButton {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.speakButton:active {
  background-color: rgba(0, 0, 0, 0.2);
}
